<t-progress [radius]="50" [progress]="22" color="#efefef" progressColor="#0000ff"></t-progress>

<div class="grid-container">
  @if (loading() && gridData()?.items?.length === 0) {
    <p>Loading items, please wait...</p>
  } @else {
    @if (loading()) {
      <div class="loading-overlay">
        <span>Loading items, please wait...</span>
      </div>
    }
    <t-grid
      [data]="gridData()"
      [sortable]="true"
      [pageSize]="requestState().pagination.pageSize"
      (paginationChange)="onPaginationChange($event)"
      (sortChange)="onSortChange($event)">

      <t-column name="ID" property="id"></t-column>
      <t-column name="Product Name" property="name"></t-column>
      <t-column name="Available Color" property="color" [sortable]="false"></t-column>
    </t-grid>
  }
</div>
