.table-flex-row {
  display: flex;
}

.table-flex-row > div,
.table-flex-header .table-flex-th {
  flex: 1;
  border: 1px solid #ccc;
  padding: 1em;
}

.table-flex-header {
  font-weight: bold;
  background-color: #f2f2f2;
}

#grid-component-items-container {
  position: relative;
}
