@if (data$ | async; as items) {
  @if (totalItems() > 0) {
    <div class="table-flex" id="grid-component-container">
      <div class="table-flex-row table-flex-header">
        @for (column of columns(); track column.property()) {
          <t-grid-header
            [name]="column.name()"
            [key]="column.property()"
            [isSortable]="sortable() && column.sortable()"
            [sortKey]="sortKey()"
            [sortDirection]="sortDirection()"
            (sort)="onSort($event)">
          </t-grid-header>
        }
      </div>
      <div class="table-flex-body" id="grid-component-items-container">
        @for (item of items; track item.id) {
          <div class="table-flex-row">
            @for (column of columns(); track column.property()) {
              <div>{{ item[column.property()] }}</div>
            }
          </div>
        }
      </div>
    </div>
    <t-grid-pagination
      [currentPage]="currentPage()"
      [total]="totalItems()"
      [pageSize]="pageSize()"
      (paginationChange)="onPaginationChange($event)">
    </t-grid-pagination>
  } @else {
    <p>No items to display.</p>
  }
}
